[[source]]
#url = "https://pypi.org/simple
url="https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-redis = "*"
pymysql = "*"
pillow = "*"
captcha = "*"
celery = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"

[dev-packages]

[requires]
python_version = "3.6"
